@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary: linear-gradient(to right, #121212, rgb(84, 4, 67));;
    --secondary: #643A6B;
    --extra1: #957777;
    --extra2:#B0A4A4;
    --extra3: blueviolet;
    --font-poppins:'Poppins', sans-serif;
    --font-roboto-slab:'Roboto Slab', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(37, 8, 8);
    margin: auto;
   
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background-color: #dc3545;;
    border: 2px solid rgb(248, 248, 248);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px burlywood;
    color: aliceblue;
    border-radius: 30px;
    padding: 30px 40px;
}
.wrapper h1 {
    font-size:  38px;
    text-align: center;
    border-radius: 30px;
    
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin:  30px 0;
    background: red;
    border-radius: 20px;
    background: transparent;
    position: relative;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(14, 2, 26);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 50px;
    margin: auto;
}
.input-box input::placeholder{
    color: rgb(24, 9, 9);
    margin: auto;
    display: center;
    height: 200px;
    width: 188px;
    border-radius: 30px;
    border-width: 3px;
}
.input-box i {
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    font-size: 22px;
    left: 20px;
  }
.wrapper .remeber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
    color: black;
}
.remeber-forgot label input{
    accent-color: rgb(247, 239, 239);
    margin-right: 3px;
}
.remeber-forgot a:hover{
    text-decoration: underline;
    color: black;
}
.remeber-forgot a{
    color: azure;
}

.wrapper .btn{
    width :100%;
    height : 45px;
    background: rgb(230, 233, 235);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(233, 7, 7);
    cursor: pointer;
    font-size: 16px;
    color: rgb(17, 4, 4);
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: rgba(2, 11, 19, 0.89);
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}